{% extends '_base.html' %}
{% load static %}

{% block title %}
    69Music
{% endblock %}

{% if user.is_authenticated %}
{% block  playList %}
{% for playlist in playlists %}
<a href="/detailplaylist/{{playlist.id}}">
    <li class="playlist">
        <div class="img">
            <img class="bg-white" src="https://icon-library.com/images/icon-music-note/icon-music-note-0.jpg">
        </div>
        <div class="describe">{{playlist.name}}</div>
    </li>
</a>
{% endfor %}
{% endblock %}
{% endif %}

{% block content %}
    <style>
        .contain {
            overflow-y: scroll;
        }

        .contain::-webkit-scrollbar {
            width: 10px;
        }
        .contain::-webkit-scrollbar-track {
            background-image: linear-gradient(#333, #222, #222, #222, #222, #222, #222);
        }
        .contain::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 3px;
            visibility: hidden;
        }

        .contain::-webkit-scrollbar-thumb:hover {
            background-color: #999;
            border-radius: 3px;
            visibility: visible;
        }

        .contain::-webkit-scrollbar-corner {
            display: none;
        }

        .artist {
            margin: 0 0.3rem;
        }

        .artist:hover, .album:hover {
            cursor: pointer;
            background-image: linear-gradient(#222, #333);
            border-radius: 1rem;
        }

        .play-button {
            color: red;
            background-color: #fff;
            border-radius: 10rem;
            font-size: 56px;
            position: absolute;
            right: 10%;
            bottom: 10%;
            transition: 0.1s;
            opacity: 0;
        }

        .artist:hover .play-button {
            bottom: 30%;
            opacity: 1;
        }

        @media screen and (min-width: 2000px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(5, 310px);
            }
            .artist-img {
                height: 319px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }

        @media screen and (min-width: 1800px) and (max-width: 1999px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(5, 278px);
            }
            .artist-img {
                height: 280px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }

        @media screen and (min-width: 1600px) and (max-width: 1799px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(5, 242px);
            }
            .artist-img {
                height: 236px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }

        @media screen and (min-width: 1400px) and (max-width: 1599px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(4, 257px);
            }
            .artist-img {
                height: 255px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(4, 195px);
            }
            .artist-img {
                height: 182px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }

        @media screen and (min-width: 1000px) and (max-width: 1199px) {
            .popular-artist-contain-1, .popular-album-contain {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 208px);
            }
            .artist-img {
                height: 197px;
                border-radius: 0.5rem;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }
    </style>

    <div class="contain w-full h-full relative">
        <p class="artist-label-1 text-5xl pt-8 font-bold text-white ml-6 py-8 font-thaiFont ">Popular Artist</p>
        <div class="popular-artist-contain-1 py-2 font-thaiFont">
            {% for Art in Arts%}
                <div class='artist-list w-full h-full'>
                    <div class="artist h-full relative p-4">
                        <div class="artist-img">
                            <img src="{{Art.img}}" class="w-full h-full object-cover rounded-lg">
                        </div>
                        <div class="artist-info inline text-white">
                            <a href="art/{{Art.id}}"><i class="fa-sharp-duotone fa-solid fa-circle-play play-button"></i></a>
                            <p class="artist-name text-xl font-bold mb-2">{{Art.name}}</p>
                            <p class="artist-describe text-lg">{{Art.name}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="footer font-thaiFont">
            <div class="footer-contain">
                <p class="footer-logo">69Music</p>
                <div class="footer-choices">
                    <p class="footer-item" id="home">Home</p>
                    <p class="footer-item" id="about">About</p>
                    <p class="footer-item" id="services">Services</p>
                    <p class="footer-item" id="blog">Blog</p>
                    <p class="footer-item" id="contact">Contact</p>
                </div>
                <div class="footer-social">
                    <p class="social-item fa-brands fa-facebook" id="facebook"></p>
                    <p class="social-item fa-brands fa-x-twitter" id="X"></p>
                    <p class="social-item fa-brands fa-instagram" id="instagram"></p>
                </div>
                <p class="copyright">&#169; 2024 69Music</p>
            </div>
        </div>
    </div>




{% endblock %}